body {
	/* min-height: 2000px; */
	padding-top: 70px;
}

.logoFont{
	font-family: Arial, sans-serif, Verdana;
	font-size: 48px;
	font-weight: bold;
	color: #3276b1;
}

.logoNoSize{
	font-size: 40px;
}

.logoDexColor{
	color: #999999;
}

.indexpad {
	padding: 3px;
}

.logo-absolute {
	position: absolute;
	left: 50px;
	top: 90px;
}

.index-absolute {
	position: absolute;
	left: 50px;
	top: 150px;
}

.success-absolute {
	position: absolute;
	top: 55px;
	z-index: 3000;
}

.success-transparency {
	width: 200px;
	opacity:0.70;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}

.logo-fixed {
	position: fixed;
	left: 50px;
	top: 50px;
	z-index: 500;
	background-color: #fff;
}

.index-fixed {
	position: fixed;
	left: 50px;
	top: 110px;
	z-index: 500;
}

.content-absolute {
	position: absolute;
	left: 50px;
	top: 290px;
}

.content-place {
  padding: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.5;
  color: #999999;
  background-color: #D3E4F2;
}

.content-font{
  color: #999999;	
}

.click-badge {
  color: #ffffff;
  background-color: #3276b1;
  text-decoration: none;
  cursor: pointer;
}

.border-jump{
  border: 1px #999999 solid;	
}

.cursor {
	cursor: pointer;
}

.divider {
	border-top: 1px solid #3276b1; 
	border-bottom: 1px solid #eee; 
	width: 100%; 
	height: 2px;
}

.divider-content {
	border-top: 1px solid #3276b1; 
	border-bottom: 1px solid #eee; 
	width: 50%; 
	height: 2px;
}

.fontSize16px {
	font-size: 16px;
}

.fontSize12px {
	font-size: 12px;
}

.padding25pxTop {
	padding-top: 25px;
}

.click-eye-selected {
  color: #3276b1; 
  cursor: pointer;
}
