.tip-knodexblue {
	z-index:1000;
	text-align:left;
	padding:8px 10px;
	min-width:50px;
	max-width:300px;
	color: #000; 
	font-weight: bold;
	background-color: #A0CCF2; 
	border: 1px #eee solid;
	border-radius: 4px;
	opacity:0.78;
	filter:alpha(opacity=78); /* For IE8 and earlier */
	-webkit-box-shadow: 6px 6px 4px 0px rgba(153, 153, 153, 0.75);
	-moz-box-shadow: 6px 6px 4px 0px rgba(153, 153, 153, 0.75);
	box-shadow: 6px 6px 4px 0px rgba(153, 153, 153, 0.75);
	/**
	 * - If you set a background-image, border/padding/background-color will be ignored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */}
.tip-knodexblue .tip-inner {
	font:bold 13px/15px 'trebuchet ms',arial,helvetica,sans-serif;
	padding:0 3px 1px 3px;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-knodexblue .tip-arrow-top {
	margin-top:-12px;
	margin-left:0;
	top:0;
	left:0;
	width:11px;
	height:19px;
}
.tip-knodexblue .tip-arrow-right {
	margin-top:0;
	margin-left:-7px;
	top:0;
	left:100%;
	width:18px;
	height:13px;
}
.tip-knodexblue .tip-arrow-bottom {
	margin-top:-8px;
	margin-left:0;
	top:100%;
	left:0;
	width:11px;
	height:20px;
}
.tip-knodexblue .tip-arrow-left {
	margin-top:0;
	margin-left:-11px;
	top:0;
	left:0;
	width:18px;
	height:13px;
}